---
interface Props {
  date: string;
  title: string;
  link: string;
  tags?: string[];
  highlightedTags?: string[];
  location?: string;
}

const { date, title, link, tags = [], highlightedTags = [], location = '' } = Astro.props;
---

<div class="row">
  <span class="dt">{date}</span>
  <span class="ti">
    <a href={link} target="_blank" rel="noopener noreferrer">{title}</a>
    {tags.length > 0 && (
      <span class="tg">
        {tags.map(tag => (
          <span class={`t ${highlightedTags.includes(tag) ? 'th' : ''}`}>{tag}</span>
        ))}
      </span>
    )}
  </span>
  <span class="lo">{location}</span>
</div>
